<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/viewusers.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Welcome <%= aname%></h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="addbook">Add Book</a></li>
                    <li><a href="vbooks">View Books</a></li>
                    <li><a href="vienq">Viewer Inquery</a></li>
                    <li><a href="viewusers">View Users</a></li>
                    <li><a href="avorders">View Orders</a></li>
                    <li><a href="alogout">Admin Logout</a></li>
                </ul>
            </nav>
        </header>

        <main class="main-content">
           <table border="1">
            <th>Phone Number</th>
            <th>Address</th>
            <th>Pin</th>
            <th>Amount</th>
            <th>Product Name</th>
            <th>Product Orderdate</th>
            <th>Delete</th>
          <% data.forEach((entry)=>
          {
          %>
          <tr>
              <td><%=entry.PhoneNumber%></td>
          <td><%= entry.Address %></td>
          <td><%= entry.Pin %></td>
          <td><%= entry.Amount %></td>
          <td><%= entry.pname %></td>
          <td><%=entry.orderdate %></td>
          <td><a href="delorders?sno=<%= entry.sno%>">Delete</a></td>
          </tr>
          <%});%>
</table>


        </main>

        <footer class="footer">
            <p>Books Image Here</p>
        </footer>
    </div>
</body>
</html>