<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/viewusers.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Welcome <%= aname%></h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="addbook">Add Book</a></li>
                    <li><a href="vbooks">View Books</a></li>
                    <li><a href="vienq">Viewer Inquery</a></li>
                    <li><a href="viewusers">View Users</a></li>
                    <li><a href="avorders">View Orders</a></li>
                    <li><a href="alogout">Admin Logout</a></li>


                </ul>
            </nav>
        </header>

        <main class="main-content">
           <table border="1">
<tr>
<th>Name</th>
<th>Email</th>
<th>Pwd</th>

</tr>
<% data.forEach((entry)=>
{
%>
<tr>
<td><%= entry.name %></td>
<td><%= entry.email %></td>
<td><%= entry.pwd %></td>
<td><a href="deleteuser?em=<%= entry.email%>">Delete</a></td>
</tr>
<%});
%>
</table>


        </main>

        <footer class="footer">
            <p>Footer Content Here</p>
        </footer>
    </div>
</body>
</html>